<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 一定要是：对应的接口的全限定类名-->
<mapper namespace="com.rainbowsea.mybatis.mapper.LogMapper">

    <!--	id 要是 namespace 对应接口上的方法名: -->
    <select id="selectAllByTable" resultType="com.rainbowsea.mybatis.pojo.Log">
    select *
    from t_log_${}
    </select>

</mapper>